@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");

body {
  box-sizing: border-box;
  background-color: aliceblue;
  color: darkblue;
  margin: 0;
  font-size: 100%;
  font-family: monospace;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: gold;
  background-color: dodgerblue;
  border-bottom: 1px solid darkblue;
  font-family: "Mystery Quest";
  padding: 1.2rem 1rem 0.5rem 1rem;
  margin: 0 0 0.5em;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(100, 100, 100, 0.65);
  text-shadow: 0 0 4px #000;
}

.h1-small {
  font-size: 0.7em;
}

p {
  font-family: monospace;
  margin: 0.7em 0 0 0;
  line-height: 1.4em;
  font-size: 16px;
  cursor: pointer;
}

.first-p {
  margin-top: 2em;
}

button {
  background-color: gold;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 0.35em;
  cursor: pointer;
  font-family: monospace;
  font-size: 100%;
  /* font-weight: 600; */
  margin: 1em 0 1em;
  /* padding-top: 0.2em; */
}

.laugh {
  font-size: 130%;
}

.btn {
  position: absolute;
  height: 22px;
  width: 20px;
  background-color: aqua;
  opacity: 0;
  left: 0px;
  top: 4px;
  cursor: pointer;
}

.checkbox {
  position: relative;
  left: 0px;
  top: 0px;
  font-size: 28px;
  margin: 0 1em 0 0;
  display: inline;
}

a,
a:active,
a:visited {
  color: purple;
}

.joke-display {
  font-size: 16px;
  color: hsl(0, 0%, 35%);
  padding: 0;
  line-height: 1.1em;
  font-weight: 600;
  width: 100%;
  min-height: 100px;
  border-radius: 0.35em;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.35);
}

.joke-type {
  color: rgb(108, 108, 108);
  font-size: 75%;
  font-weight: normal;
  float: right;
  margin: 0.25em 0.5em;
}

.joke-setup {
  margin: 1.7em 1.25ch 0;
}

.joke-punch {
  margin: 0.5em 1.25ch 0.85em;
}

.bold {
  font-weight: bold;
}

.size16 {
  font-size: 16px;
  margin-left: 0.35em;
}

.sum4 {
  width: 36px;
  padding: 0.35em;
  color: white;
  text-align: center;
  background-color: dodgerblue;
  border: 2px solid goldenrod;
  border-radius: 0.5em;
  margin: 1.75em auto 0;
}

.red {
  color: purple;
  font-size: 90%;
}

.container {
  margin: 0 0.75em;
  max-width: 64ch;
}

.center {
  margin: 0 auto;
  max-width: 74ch;
}

.kernfix {
  letter-spacing: 0.175em;
}
